
ul {
  text-align: center;
  background-position: center;
  left: 50%;
}
h1 h2 {
  color: rgb(105, 105, 105);
}
.boxes {
  display: flex;
  flex-direction: row;
  row-gap: 20px;
  column-gap: 20px;
  position: absolute;
  justify-content: space-around;
  align-items: center;
}
.bx {
  align-self: auto;
}
